[Unit]
Description=Keyslime Generator (keyslime-louis)
Documentation=https://github.com/mieko/keyslime
Requires=keyslime-louis-ramdisk.service

[Service]
ExecStartPre=/usr/lib/keyslime-louis/lock-exports -l
ExecStart=/usr/lib/keyslime-louis/update
ExecStartPost=/usr/lib/keyslime-louis/copy-authorized-keys
ExecStartPost=/usr/lib/keyslime-louis/lock-exports -u

PrivateNetwork=yes
PrivateTmp=yes
