[Unit]
Description=Keyslime Generator (keyslime-louis) Ramdisk Service
Documentation=https://github.com/mieko/keyslime

[Service]
Type=oneshot
RemainAfterExit=true

ExecStart=/usr/lib/keyslime-louis/bin/create-ramdisk
ExecStop=/usr/lib/keyslime-louis/bin/destroy-ramdisk

[Install]
WantedBy=localfs.target
